body {
    width: 100%;
    margin: 0;
}
svg {
    border: 1px solid black;
    background: #ddd;
    width: 100%;
    max-height: calc(100vh - 20em);
    box-sizing: border-box;
}

polygon {
    cursor: pointer;
    transition: 0.5s scale, 0.5s opacity;

    &:hover {
        scale: 1.2;
        z-index: 2;
        opacity: 0.9;
    }
}

button {
    font-size: 1em;
    cursor: pointer;
}

#colorPicker {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    & .color-option {
        width: 3em;
        height: 3em;
        background-color: currentColor;
        border: 2px solid black;
        transition: scale 0.5s;

        &.active-color {
            border-width: 4px;
        }

        &:hover {
            scale: 1.1
        }
    }
}

#rotationHelper {
    display: flex;
    gap: 4px;

    & button {
        height: 2em;
        width: 4em;
        background: white;
        color: black;
        border: 2px solid;
    }
}

#bruteForceSolver {

    & .suggested-moves {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;

        & .item {
            display: inline-block;
            width: 3em;
            padding: 4px;
            text-align: center;
            border: 1px solid;
            border-radius: 4px;
            white-space: pre;
        }
    }
}

#stateInfo {
    .current-state {
        font-family: monospace;
        width: 36em;
        border: none;
        background: #e1e1e1;
        padding: 0.5em;
        text-align: center;
    }
}